--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    phone character varying(40)
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_basket; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_basket (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(8,2) NOT NULL,
    items_id bigint NOT NULL,
    shopper_id integer,
    status character varying(1) NOT NULL
);


ALTER TABLE public.catalog_basket OWNER TO postgres;

--
-- Name: catalog_basket_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_basket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_basket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_bodytype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_bodytype (
    id bigint NOT NULL,
    body character varying(50) NOT NULL
);


ALTER TABLE public.catalog_bodytype OWNER TO postgres;

--
-- Name: catalog_bodytype_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_bodytype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_bodytype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_carelement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_carelement (
    id bigint NOT NULL,
    name character varying(70) NOT NULL,
    photo character varying(100)
);


ALTER TABLE public.catalog_carelement OWNER TO postgres;

--
-- Name: catalog_carelement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_carelement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_carelement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_cars; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_cars (
    id bigint NOT NULL,
    body character varying(40) NOT NULL,
    engine_code character varying(20) NOT NULL,
    model character varying(15) NOT NULL,
    body_type_id bigint NOT NULL,
    country_id bigint NOT NULL,
    engine_type_id bigint NOT NULL,
    series_id bigint NOT NULL,
    transmission_id bigint NOT NULL,
    photo character varying(100)
);


ALTER TABLE public.catalog_cars OWNER TO postgres;

--
-- Name: catalog_cars_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_cars ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_cars_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_component; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_component (
    id bigint NOT NULL,
    name character varying(70) NOT NULL,
    photo character varying(100),
    element_id bigint NOT NULL,
    car_id bigint NOT NULL
);


ALTER TABLE public.catalog_component OWNER TO postgres;

--
-- Name: catalog_component_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_component ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_component_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_country; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_country (
    id bigint NOT NULL,
    name character varying(15) NOT NULL
);


ALTER TABLE public.catalog_country OWNER TO postgres;

--
-- Name: catalog_country_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_country ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_country_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_details (
    id bigint NOT NULL,
    name character varying(70) NOT NULL,
    brand character varying(70) NOT NULL,
    number character varying(70) NOT NULL,
    price numeric(8,2) NOT NULL,
    photo character varying(100),
    quantity integer NOT NULL,
    description character varying(30),
    update_at timestamp with time zone NOT NULL,
    component_id bigint NOT NULL,
    car_id bigint NOT NULL
);


ALTER TABLE public.catalog_details OWNER TO postgres;

--
-- Name: catalog_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_details ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_enginetype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_enginetype (
    id bigint NOT NULL,
    name character varying(20) NOT NULL
);


ALTER TABLE public.catalog_enginetype OWNER TO postgres;

--
-- Name: catalog_enginetype_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_enginetype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_enginetype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_series; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_series (
    id bigint NOT NULL,
    number character varying(25) NOT NULL
);


ALTER TABLE public.catalog_series OWNER TO postgres;

--
-- Name: catalog_series_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_series ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_series_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_transmission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_transmission (
    id bigint NOT NULL,
    name character varying(30) NOT NULL
);


ALTER TABLE public.catalog_transmission OWNER TO postgres;

--
-- Name: catalog_transmission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_transmission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_transmission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: market_company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_company (
    id bigint NOT NULL,
    about_company text NOT NULL,
    address character varying(150) NOT NULL,
    work_phone character varying(40) NOT NULL,
    logo character varying(100)
);


ALTER TABLE public.market_company OWNER TO postgres;

--
-- Name: market_company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.market_company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.market_company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: market_company_social_network; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_company_social_network (
    id bigint NOT NULL,
    company_id bigint NOT NULL,
    socialnetwork_id bigint NOT NULL
);


ALTER TABLE public.market_company_social_network OWNER TO postgres;

--
-- Name: market_company_social_network_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.market_company_social_network ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.market_company_social_network_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: market_company_work_time; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_company_work_time (
    id bigint NOT NULL,
    company_id bigint NOT NULL,
    worktime_id bigint NOT NULL
);


ALTER TABLE public.market_company_work_time OWNER TO postgres;

--
-- Name: market_company_work_time_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.market_company_work_time ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.market_company_work_time_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: market_news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_news (
    id bigint NOT NULL,
    title character varying(150) NOT NULL,
    content text NOT NULL,
    date_created timestamp with time zone NOT NULL,
    date_updated timestamp with time zone NOT NULL,
    date_deleted timestamp with time zone,
    author_id integer
);


ALTER TABLE public.market_news OWNER TO postgres;

--
-- Name: market_news_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.market_news ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.market_news_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: market_socialnetwork; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_socialnetwork (
    id bigint NOT NULL,
    url character varying(200) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.market_socialnetwork OWNER TO postgres;

--
-- Name: market_socialnetwork_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.market_socialnetwork ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.market_socialnetwork_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: market_worktime; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_worktime (
    id bigint NOT NULL,
    day character varying(15) NOT NULL,
    "time" character varying(20) NOT NULL
);


ALTER TABLE public.market_worktime OWNER TO postgres;

--
-- Name: market_worktime_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.market_worktime ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.market_worktime_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: staff_chats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff_chats (
    id bigint NOT NULL,
    status character varying(1) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    helper_id integer,
    user_id integer NOT NULL
);


ALTER TABLE public.staff_chats OWNER TO postgres;

--
-- Name: staff_chats_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.staff_chats ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.staff_chats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: staff_chats_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff_chats_messages (
    id bigint NOT NULL,
    chats_id bigint NOT NULL,
    message_id bigint NOT NULL
);


ALTER TABLE public.staff_chats_messages OWNER TO postgres;

--
-- Name: staff_chats_massages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.staff_chats_messages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.staff_chats_massages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: staff_message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff_message (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.staff_message OWNER TO postgres;

--
-- Name: staff_massage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.staff_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.staff_massage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: staff_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff_order (
    id bigint NOT NULL,
    phone character varying(40),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    status character varying(1) NOT NULL,
    shopper_id integer
);


ALTER TABLE public.staff_order OWNER TO postgres;

--
-- Name: staff_order_basket; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff_order_basket (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    basket_id bigint NOT NULL
);


ALTER TABLE public.staff_order_basket OWNER TO postgres;

--
-- Name: staff_order_basket_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.staff_order_basket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.staff_order_basket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: staff_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.staff_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.staff_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_garage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_garage (
    id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.user_garage OWNER TO postgres;

--
-- Name: user_garage_cars; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_garage_cars (
    id bigint NOT NULL,
    garage_id bigint NOT NULL,
    cars_id bigint NOT NULL
);


ALTER TABLE public.user_garage_cars OWNER TO postgres;

--
-- Name: user_garage_cars_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_garage_cars ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_garage_cars_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_garage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_garage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_garage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
3	Users
1	Admin
2	Staff
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
4	14	1
5	18	3
6	19	3
7	20	3
8	21	3
9	22	3
10	13	2
11	23	3
12	25	3
13	3	2
14	28	3
16	29	3
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: catalog_basket; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_basket (id, quantity, price, items_id, shopper_id, status) FROM stdin;
8	2	13000.00	30	3	O
9	0	6533.00	30	3	O
10	0	6533.00	30	3	P
11	0	6533.00	30	22	P
12	0	6533.00	30	14	P
13	2	13000.00	30	29	O
\.


--
-- Data for Name: catalog_bodytype; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_bodytype (id, body) FROM stdin;
1	╨б╨╡╨┤╨░╨╜
2	╨Ъ╤Г╨┐╨╡
3	╨Т╨╜╨╡╨┤╨╛╤А╨╛╨╢╨╜╨╕╨║
4	╨Ъ╨░╨▒╤А╨╕╨╛╨╗╨╡╤В
\.


--
-- Data for Name: catalog_carelement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_carelement (id, name, photo) FROM stdin;
3	╨Ф╨▓╨╕╨│╨░╤В╨╡╨╗╤М	car_element/╨┤╨▓╨╕╨│╨░╤В╨╡╨╗╤М.jpg
5	╨б╨╕╤Б╤В╨╡╨╝╨░ ╨╛╤Е╨╗╨░╨╢╨┤╨╡╨╜╨╕╤П	car_element/╨б╨╕╤Б╤В╨╡╨╝╨░_╨╛╤Е╨┤╨░╨╢╨┤╨╡╨╜╨╕╤П.jpg
6	╨б╨╕╤Б╤В╨╡╨╝╨░ ╨▓╤Л╨┐╤Г╤Б╨║╨░ ╨Ю╨У	car_element/╨б╨╕╤Б╤В╨╕╨╝╨░_╨▓╤Л╨┐╤Г╤Б╨║╨░_╨Ю╨У.jpg
7	╨б╤Ж╨╡╨┐╨╗╨╡╨╜╨╕╨╡	car_element/╨б╤Ж╨╡╨┐╨╗╨╡╨╜╨╕╨╡.jpg
4	╨н╨╗╨╡╨║╤В╤А╨╛╨╛╨▒╨╛╤А╤Г╨┤╨╛╨▓╨░╨╜╨╕╨╡ ╨┤╨▓╨╕╨│╨░╤В╨╡╨╗╤П	car_element/╨н╨╗╨╡╨║╤В╤А╨╛╨╛╨▒╨╛╤А╤Г╨┤╨╛╨▓╨░╨╜╨╕╨╡_╨┤╨▓╨╕╨│╨░╤В╨╡╨╗╤П.jpg
8	╨б╨╕╤Б╤В╨╕╨╝╨░ ╨┐╨╛╨┤╨░╤З╨╕ ╤В╨╛╨┐╨╗╨╕╨▓╨░	car_element/╨б╨╕╤Б╤В╨╕╨╝╨╡_╨┐╨╛╨┤╨░╤З╨╕_╤В╨╛╨┐╨╗╨╕╨▓╨░.jpg
\.


--
-- Data for Name: catalog_cars; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: catalog_component; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: catalog_country; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_country (id, name) FROM stdin;
1	╨б╨и╨Р
\.


--
-- Data for Name: catalog_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: catalog_enginetype; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_enginetype (id, name) FROM stdin;
1	╨С╨╡╨╜╨╖╨╕╨╜
2	╨Ф╨╕╨╖╨╡╨╗╤М
\.


--
-- Data for Name: catalog_series; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_series (id, number) FROM stdin;
1	3
2	5
3	7
4	X
5	2
\.


--
-- Data for Name: catalog_transmission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_transmission (id, name) FROM stdin;
1	╨Р╨Ъ╨Я╨Я
2	╨Ъ╨Я╨Я
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	catalog	bodytype
8	catalog	carelement
9	catalog	cars
10	catalog	component
11	catalog	country
12	catalog	enginetype
13	catalog	series
14	catalog	transmission
15	catalog	details
16	catalog	basket
17	market	socialnetwork
18	market	worktime
19	market	news
20	market	company
21	staff	order
22	user	phonebook
23	user	garage
24	staff	chats
25	staff	message
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
lj8291ytwepvx2ayc7xlhacstbyrf8db	.eJxVjEEOwiAQRe_C2hBhwgy4dO8ZyACDVE2blHbVeHdt0oVu_3vvbyryurS4dpnjUNRFGXX63RLnp4w7KA8e75PO07jMQ9K7og_a9W0q8roe7t9B496-NQbOhiqVbKlKNV4kQfKMJljJDjIkh4TEQMwIUM8loEUL1odCzqj3B_o-N7U:1rg9Tk:1fq5pWZ8WN8z-3pVwUTG2yTMHXxFAtUKghj2JlfSd1c	2024-03-15 23:27:36.197918+03
\.


--
-- Data for Name: market_company; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: market_company_social_network; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.market_company_social_network (id, company_id, socialnetwork_id) FROM stdin;
1	1	11
4	1	14
\.


--
-- Data for Name: market_company_work_time; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.market_company_work_time (id, company_id, worktime_id) FROM stdin;
1	1	1
3	1	2
4	1	3
\.


--
-- Data for Name: market_news; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.market_news (id, title, content, date_created, date_updated, date_deleted, author_id) FROM stdin;
2	321	312	2024-02-22 17:34:27.488661+03	2024-02-22 17:34:27.488661+03	\N	\N
1	Okey	Test	2024-02-22 17:15:39.838124+03	2024-03-02 01:38:19.556935+03	\N	\N
\.


--
-- Data for Name: market_socialnetwork; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.market_socialnetwork (id, url, name) FROM stdin;
11	https://www.instagram.com/	instagram
14	https://www.youtube.com/	YouTube
\.


--
-- Data for Name: market_worktime; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.market_worktime (id, day, "time") FROM stdin;
1	╨Я╨╜-╨Я╤В	9.00-22.00
2	C╨▒	9.00-18.00
3	╨Т╤Б	╨▓╤Л╤Е╨╛╨┤╨╜╨╛╨╣
\.


--
-- Data for Name: staff_chats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staff_chats (id, status, created_at, updated_at, helper_id, user_id) FROM stdin;
7	P	2024-03-05 15:48:56.717426+03	2024-03-05 16:43:04.593566+03	\N	22
\.


--
-- Data for Name: staff_chats_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staff_chats_messages (id, chats_id, message_id) FROM stdin;
3	7	18
5	7	20
6	7	21
7	7	22
8	7	23
9	7	24
10	7	25
11	7	26
12	7	27
13	7	28
14	7	29
15	7	30
16	7	31
17	7	32
18	7	33
19	7	34
20	7	35
21	7	36
22	7	37
23	7	38
24	7	39
25	7	40
26	7	41
27	7	42
28	7	43
29	7	44
30	7	45
31	7	46
32	7	47
33	7	48
34	7	49
35	7	50
36	7	51
37	7	52
38	7	53
39	7	54
40	7	55
41	7	56
42	7	57
43	7	58
44	7	59
45	7	60
46	7	61
\.


--
-- Data for Name: staff_message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: staff_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staff_order (id, phone, created_at, updated_at, deleted_at, status, shopper_id) FROM stdin;
12	+375255416904	2024-03-02 00:58:11.139208+03	2024-03-02 00:58:11.139208+03	\N	C	22
11	\N	2024-03-02 00:53:56.092798+03	2024-03-02 01:00:37.815882+03	\N	D	3
13	+375255416908	2024-03-02 12:43:54.181994+03	2024-03-02 12:55:46.565702+03	\N	D	29
\.


--
-- Data for Name: staff_order_basket; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staff_order_basket (id, order_id, basket_id) FROM stdin;
5	11	8
6	12	9
7	13	13
\.


--
-- Data for Name: user_garage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_garage (id, user_id) FROM stdin;
2	26
3	27
4	28
1	22
5	29
\.


--
-- Data for Name: user_garage_cars; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_garage_cars (id, garage_id, cars_id) FROM stdin;
6	1	1
7	1	2
8	1	11
9	5	1
10	5	2
11	5	11
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 3, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 172, true);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 104, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 16, true);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 29, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 5, true);


--
-- Name: catalog_basket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_basket_id_seq', 13, true);


--
-- Name: catalog_bodytype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_bodytype_id_seq', 4, true);


--
-- Name: catalog_carelement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_carelement_id_seq', 10, true);


--
-- Name: catalog_cars_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_cars_id_seq', 19, true);


--
-- Name: catalog_component_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_component_id_seq', 154, true);


--
-- Name: catalog_country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_country_id_seq', 1, true);


--
-- Name: catalog_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_details_id_seq', 139, true);


--
-- Name: catalog_enginetype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_enginetype_id_seq', 2, true);


--
-- Name: catalog_series_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_series_id_seq', 5, true);


--
-- Name: catalog_transmission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_transmission_id_seq', 2, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 381, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 25, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 39, true);


--
-- Name: market_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_company_id_seq', 1, true);


--
-- Name: market_company_social_network_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_company_social_network_id_seq', 4, true);


--
-- Name: market_company_work_time_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_company_work_time_id_seq', 4, true);


--
-- Name: market_news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_news_id_seq', 3, true);


--
-- Name: market_socialnetwork_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_socialnetwork_id_seq', 14, true);


--
-- Name: market_worktime_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_worktime_id_seq', 3, true);


--
-- Name: staff_chats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.staff_chats_id_seq', 8, true);


--
-- Name: staff_chats_massages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.staff_chats_massages_id_seq', 46, true);


--
-- Name: staff_massage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.staff_massage_id_seq', 61, true);


--
-- Name: staff_order_basket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.staff_order_basket_id_seq', 7, true);


--
-- Name: staff_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.staff_order_id_seq', 13, true);


--
-- Name: user_garage_cars_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_garage_cars_id_seq', 11, true);


--
-- Name: user_garage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_garage_id_seq', 5, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user auth_user_email_1c89df09_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_email_1c89df09_uniq UNIQUE (email);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_phone_552f73e3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_phone_552f73e3_uniq UNIQUE (phone);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: catalog_basket catalog_basket_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_basket
    ADD CONSTRAINT catalog_basket_pkey PRIMARY KEY (id);


--
-- Name: catalog_bodytype catalog_bodytype_body_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_bodytype
    ADD CONSTRAINT catalog_bodytype_body_key UNIQUE (body);


--
-- Name: catalog_bodytype catalog_bodytype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_bodytype
    ADD CONSTRAINT catalog_bodytype_pkey PRIMARY KEY (id);


--
-- Name: catalog_carelement catalog_carelement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_carelement
    ADD CONSTRAINT catalog_carelement_pkey PRIMARY KEY (id);


--
-- Name: catalog_cars catalog_cars_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cars
    ADD CONSTRAINT catalog_cars_pkey PRIMARY KEY (id);


--
-- Name: catalog_component catalog_component_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_component
    ADD CONSTRAINT catalog_component_pkey PRIMARY KEY (id);


--
-- Name: catalog_country catalog_country_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_country
    ADD CONSTRAINT catalog_country_name_key UNIQUE (name);


--
-- Name: catalog_country catalog_country_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_country
    ADD CONSTRAINT catalog_country_pkey PRIMARY KEY (id);


--
-- Name: catalog_details catalog_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_details
    ADD CONSTRAINT catalog_details_pkey PRIMARY KEY (id);


--
-- Name: catalog_enginetype catalog_enginetype_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_enginetype
    ADD CONSTRAINT catalog_enginetype_name_key UNIQUE (name);


--
-- Name: catalog_enginetype catalog_enginetype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_enginetype
    ADD CONSTRAINT catalog_enginetype_pkey PRIMARY KEY (id);


--
-- Name: catalog_series catalog_series_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_series
    ADD CONSTRAINT catalog_series_number_key UNIQUE (number);


--
-- Name: catalog_series catalog_series_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_series
    ADD CONSTRAINT catalog_series_pkey PRIMARY KEY (id);


--
-- Name: catalog_transmission catalog_transmission_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_transmission
    ADD CONSTRAINT catalog_transmission_name_key UNIQUE (name);


--
-- Name: catalog_transmission catalog_transmission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_transmission
    ADD CONSTRAINT catalog_transmission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: market_company market_company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company
    ADD CONSTRAINT market_company_pkey PRIMARY KEY (id);


--
-- Name: market_company_social_network market_company_social_ne_company_id_socialnetwork_df98e3ed_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_social_network
    ADD CONSTRAINT market_company_social_ne_company_id_socialnetwork_df98e3ed_uniq UNIQUE (company_id, socialnetwork_id);


--
-- Name: market_company_social_network market_company_social_network_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_social_network
    ADD CONSTRAINT market_company_social_network_pkey PRIMARY KEY (id);


--
-- Name: market_company_work_time market_company_work_time_company_id_worktime_id_72d048d6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_work_time
    ADD CONSTRAINT market_company_work_time_company_id_worktime_id_72d048d6_uniq UNIQUE (company_id, worktime_id);


--
-- Name: market_company_work_time market_company_work_time_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_work_time
    ADD CONSTRAINT market_company_work_time_pkey PRIMARY KEY (id);


--
-- Name: market_news market_news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_news
    ADD CONSTRAINT market_news_pkey PRIMARY KEY (id);


--
-- Name: market_socialnetwork market_socialnetwork_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_socialnetwork
    ADD CONSTRAINT market_socialnetwork_pkey PRIMARY KEY (id);


--
-- Name: market_worktime market_worktime_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_worktime
    ADD CONSTRAINT market_worktime_pkey PRIMARY KEY (id);


--
-- Name: staff_chats_messages staff_chats_massages_chats_id_massage_id_4c75b427_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_chats_messages
    ADD CONSTRAINT staff_chats_massages_chats_id_massage_id_4c75b427_uniq UNIQUE (chats_id, message_id);


--
-- Name: staff_chats_messages staff_chats_massages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_chats_messages
    ADD CONSTRAINT staff_chats_massages_pkey PRIMARY KEY (id);


--
-- Name: staff_chats staff_chats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_chats
    ADD CONSTRAINT staff_chats_pkey PRIMARY KEY (id);


--
-- Name: staff_message staff_massage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_message
    ADD CONSTRAINT staff_massage_pkey PRIMARY KEY (id);


--
-- Name: staff_order_basket staff_order_basket_order_id_basket_id_ba14a395_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_order_basket
    ADD CONSTRAINT staff_order_basket_order_id_basket_id_ba14a395_uniq UNIQUE (order_id, basket_id);


--
-- Name: staff_order_basket staff_order_basket_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_order_basket
    ADD CONSTRAINT staff_order_basket_pkey PRIMARY KEY (id);


--
-- Name: staff_order staff_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_order
    ADD CONSTRAINT staff_order_pkey PRIMARY KEY (id);


--
-- Name: user_garage_cars user_garage_cars_garage_id_cars_id_bdc8f697_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_garage_cars
    ADD CONSTRAINT user_garage_cars_garage_id_cars_id_bdc8f697_uniq UNIQUE (garage_id, cars_id);


--
-- Name: user_garage_cars user_garage_cars_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_garage_cars
    ADD CONSTRAINT user_garage_cars_pkey PRIMARY KEY (id);


--
-- Name: user_garage user_garage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_garage
    ADD CONSTRAINT user_garage_pkey PRIMARY KEY (id);


--
-- Name: user_garage user_garage_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_garage
    ADD CONSTRAINT user_garage_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_email_1c89df09_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_email_1c89df09_like ON public.auth_user USING btree (email varchar_pattern_ops);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_phone_552f73e3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_phone_552f73e3_like ON public.auth_user USING btree (phone varchar_pattern_ops);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: catalog_basket_items_id_84ba9a7d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_basket_items_id_84ba9a7d ON public.catalog_basket USING btree (items_id);


--
-- Name: catalog_basket_shopper_id_ca09c610; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_basket_shopper_id_ca09c610 ON public.catalog_basket USING btree (shopper_id);


--
-- Name: catalog_bodytype_body_03ea66bc_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_bodytype_body_03ea66bc_like ON public.catalog_bodytype USING btree (body varchar_pattern_ops);


--
-- Name: catalog_cars_body_type_id_3c2d5698; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_cars_body_type_id_3c2d5698 ON public.catalog_cars USING btree (body_type_id);


--
-- Name: catalog_cars_country_id_5d942413; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_cars_country_id_5d942413 ON public.catalog_cars USING btree (country_id);


--
-- Name: catalog_cars_engine_type_id_9e8626ad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_cars_engine_type_id_9e8626ad ON public.catalog_cars USING btree (engine_type_id);


--
-- Name: catalog_cars_series_id_718f87c0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_cars_series_id_718f87c0 ON public.catalog_cars USING btree (series_id);


--
-- Name: catalog_cars_transmission_id_71c76b86; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_cars_transmission_id_71c76b86 ON public.catalog_cars USING btree (transmission_id);


--
-- Name: catalog_component_car_id_c4b585fe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_component_car_id_c4b585fe ON public.catalog_component USING btree (car_id);


--
-- Name: catalog_component_element_id_fd8f9826; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_component_element_id_fd8f9826 ON public.catalog_component USING btree (element_id);


--
-- Name: catalog_country_name_3acac907_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_country_name_3acac907_like ON public.catalog_country USING btree (name varchar_pattern_ops);


--
-- Name: catalog_details_car_id_0446eb65; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_details_car_id_0446eb65 ON public.catalog_details USING btree (car_id);


--
-- Name: catalog_details_component_id_a06c962a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_details_component_id_a06c962a ON public.catalog_details USING btree (component_id);


--
-- Name: catalog_enginetype_name_e7088ea1_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_enginetype_name_e7088ea1_like ON public.catalog_enginetype USING btree (name varchar_pattern_ops);


--
-- Name: catalog_series_number_b361ba00_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_series_number_b361ba00_like ON public.catalog_series USING btree (number varchar_pattern_ops);


--
-- Name: catalog_transmission_name_54e87d36_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_transmission_name_54e87d36_like ON public.catalog_transmission USING btree (name varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: market_company_social_network_company_id_ec35e8c7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX market_company_social_network_company_id_ec35e8c7 ON public.market_company_social_network USING btree (company_id);


--
-- Name: market_company_social_network_socialnetwork_id_12a61871; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX market_company_social_network_socialnetwork_id_12a61871 ON public.market_company_social_network USING btree (socialnetwork_id);


--
-- Name: market_company_work_time_company_id_d607ae18; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX market_company_work_time_company_id_d607ae18 ON public.market_company_work_time USING btree (company_id);


--
-- Name: market_company_work_time_worktime_id_6518ab3f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX market_company_work_time_worktime_id_6518ab3f ON public.market_company_work_time USING btree (worktime_id);


--
-- Name: market_news_author_id_ad62543c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX market_news_author_id_ad62543c ON public.market_news USING btree (author_id);


--
-- Name: staff_chats_helper_id_6f9edccb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_chats_helper_id_6f9edccb ON public.staff_chats USING btree (helper_id);


--
-- Name: staff_chats_massages_chats_id_2471bec6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_chats_massages_chats_id_2471bec6 ON public.staff_chats_messages USING btree (chats_id);


--
-- Name: staff_chats_massages_massage_id_f6821510; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_chats_massages_massage_id_f6821510 ON public.staff_chats_messages USING btree (message_id);


--
-- Name: staff_chats_user_id_c2b329b7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_chats_user_id_c2b329b7 ON public.staff_chats USING btree (user_id);


--
-- Name: staff_massage_user_id_d4250860; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_massage_user_id_d4250860 ON public.staff_message USING btree (user_id);


--
-- Name: staff_order_basket_basket_id_07490c6d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_order_basket_basket_id_07490c6d ON public.staff_order_basket USING btree (basket_id);


--
-- Name: staff_order_basket_order_id_c77da56f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_order_basket_order_id_c77da56f ON public.staff_order_basket USING btree (order_id);


--
-- Name: staff_order_shopper_id_1cf2caab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX staff_order_shopper_id_1cf2caab ON public.staff_order USING btree (shopper_id);


--
-- Name: user_garage_cars_cars_id_0c5d5d0c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_garage_cars_cars_id_0c5d5d0c ON public.user_garage_cars USING btree (cars_id);


--
-- Name: user_garage_cars_garage_id_a33bc198; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_garage_cars_garage_id_a33bc198 ON public.user_garage_cars USING btree (garage_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_basket catalog_basket_items_id_84ba9a7d_fk_catalog_details_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_basket
    ADD CONSTRAINT catalog_basket_items_id_84ba9a7d_fk_catalog_details_id FOREIGN KEY (items_id) REFERENCES public.catalog_details(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_basket catalog_basket_shopper_id_ca09c610_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_basket
    ADD CONSTRAINT catalog_basket_shopper_id_ca09c610_fk_auth_user_id FOREIGN KEY (shopper_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_cars catalog_cars_body_type_id_3c2d5698_fk_catalog_bodytype_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cars
    ADD CONSTRAINT catalog_cars_body_type_id_3c2d5698_fk_catalog_bodytype_id FOREIGN KEY (body_type_id) REFERENCES public.catalog_bodytype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_cars catalog_cars_country_id_5d942413_fk_catalog_country_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cars
    ADD CONSTRAINT catalog_cars_country_id_5d942413_fk_catalog_country_id FOREIGN KEY (country_id) REFERENCES public.catalog_country(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_cars catalog_cars_engine_type_id_9e8626ad_fk_catalog_enginetype_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cars
    ADD CONSTRAINT catalog_cars_engine_type_id_9e8626ad_fk_catalog_enginetype_id FOREIGN KEY (engine_type_id) REFERENCES public.catalog_enginetype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_cars catalog_cars_series_id_718f87c0_fk_catalog_series_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cars
    ADD CONSTRAINT catalog_cars_series_id_718f87c0_fk_catalog_series_id FOREIGN KEY (series_id) REFERENCES public.catalog_series(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_cars catalog_cars_transmission_id_71c76b86_fk_catalog_t; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cars
    ADD CONSTRAINT catalog_cars_transmission_id_71c76b86_fk_catalog_t FOREIGN KEY (transmission_id) REFERENCES public.catalog_transmission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_component catalog_component_car_id_c4b585fe_fk_catalog_cars_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_component
    ADD CONSTRAINT catalog_component_car_id_c4b585fe_fk_catalog_cars_id FOREIGN KEY (car_id) REFERENCES public.catalog_cars(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_component catalog_component_element_id_fd8f9826_fk_catalog_carelement_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_component
    ADD CONSTRAINT catalog_component_element_id_fd8f9826_fk_catalog_carelement_id FOREIGN KEY (element_id) REFERENCES public.catalog_carelement(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_details catalog_details_car_id_0446eb65_fk_catalog_cars_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_details
    ADD CONSTRAINT catalog_details_car_id_0446eb65_fk_catalog_cars_id FOREIGN KEY (car_id) REFERENCES public.catalog_cars(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_details catalog_details_component_id_a06c962a_fk_catalog_component_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_details
    ADD CONSTRAINT catalog_details_component_id_a06c962a_fk_catalog_component_id FOREIGN KEY (component_id) REFERENCES public.catalog_component(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: market_company_social_network market_company_socia_company_id_ec35e8c7_fk_market_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_social_network
    ADD CONSTRAINT market_company_socia_company_id_ec35e8c7_fk_market_co FOREIGN KEY (company_id) REFERENCES public.market_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: market_company_social_network market_company_socia_socialnetwork_id_12a61871_fk_market_so; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_social_network
    ADD CONSTRAINT market_company_socia_socialnetwork_id_12a61871_fk_market_so FOREIGN KEY (socialnetwork_id) REFERENCES public.market_socialnetwork(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: market_company_work_time market_company_work__company_id_d607ae18_fk_market_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_work_time
    ADD CONSTRAINT market_company_work__company_id_d607ae18_fk_market_co FOREIGN KEY (company_id) REFERENCES public.market_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: market_company_work_time market_company_work__worktime_id_6518ab3f_fk_market_wo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_company_work_time
    ADD CONSTRAINT market_company_work__worktime_id_6518ab3f_fk_market_wo FOREIGN KEY (worktime_id) REFERENCES public.market_worktime(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: market_news market_news_author_id_ad62543c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_news
    ADD CONSTRAINT market_news_author_id_ad62543c_fk_auth_user_id FOREIGN KEY (author_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_chats staff_chats_helper_id_6f9edccb_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_chats
    ADD CONSTRAINT staff_chats_helper_id_6f9edccb_fk_auth_user_id FOREIGN KEY (helper_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_chats_messages staff_chats_massages_chats_id_2471bec6_fk_staff_chats_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_chats_messages
    ADD CONSTRAINT staff_chats_massages_chats_id_2471bec6_fk_staff_chats_id FOREIGN KEY (chats_id) REFERENCES public.staff_chats(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_chats_messages staff_chats_massages_message_id_1c70b732_fk_staff_message_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_chats_messages
    ADD CONSTRAINT staff_chats_massages_message_id_1c70b732_fk_staff_message_id FOREIGN KEY (message_id) REFERENCES public.staff_message(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_chats staff_chats_user_id_c2b329b7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_chats
    ADD CONSTRAINT staff_chats_user_id_c2b329b7_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_message staff_massage_user_id_d4250860_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_message
    ADD CONSTRAINT staff_massage_user_id_d4250860_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_order_basket staff_order_basket_basket_id_07490c6d_fk_catalog_basket_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_order_basket
    ADD CONSTRAINT staff_order_basket_basket_id_07490c6d_fk_catalog_basket_id FOREIGN KEY (basket_id) REFERENCES public.catalog_basket(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_order_basket staff_order_basket_order_id_c77da56f_fk_staff_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_order_basket
    ADD CONSTRAINT staff_order_basket_order_id_c77da56f_fk_staff_order_id FOREIGN KEY (order_id) REFERENCES public.staff_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_order staff_order_shopper_id_1cf2caab_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_order
    ADD CONSTRAINT staff_order_shopper_id_1cf2caab_fk_auth_user_id FOREIGN KEY (shopper_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_garage_cars user_garage_cars_cars_id_0c5d5d0c_fk_catalog_cars_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_garage_cars
    ADD CONSTRAINT user_garage_cars_cars_id_0c5d5d0c_fk_catalog_cars_id FOREIGN KEY (cars_id) REFERENCES public.catalog_cars(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_garage_cars user_garage_cars_garage_id_a33bc198_fk_user_garage_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_garage_cars
    ADD CONSTRAINT user_garage_cars_garage_id_a33bc198_fk_user_garage_id FOREIGN KEY (garage_id) REFERENCES public.user_garage(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_garage user_garage_user_id_f00841d5_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_garage
    ADD CONSTRAINT user_garage_user_id_f00841d5_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

